.page {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #f9f9f9;
}

.title span {
  color: #76ff47;
}

.subtitle {
  margin-top: 15px;
  font-size: 22px;
  color: #ff50c8;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  padding: 50px 36px;
  border: 1px solid #3b413d;
  border-radius: 8px;
  background: #272730;
  box-sizing: border-box;
}

.container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #a8ff53;
  animation: round 10s linear infinite;
}
@keyframes round {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }
  25% {
    clip-path: inset(0% 0% 100% 0%);
  }
  50% {
    clip-path: inset(0% 0% 0% 100%);
  }
  75% {
    clip-path: inset(100% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 100% 0% 0%);
  }
}
