.input {
  width: 390px;
  padding: 6px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid grey;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}
.input:hover {
  border-color: #659932;
  box-shadow: 0 0 8px rgb(168, 255, 83, 0.5);
}

.input:focus {
  outline: none;
  border-color: #659932;
}
