.nav {
  display: flex;
  gap: 24px;
  width: auto;
  padding: 15px 30px;
  border-bottom: 1px solid #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: gray;
  font-size: 18px;
  text-decoration: none;
}
.link:hover,
.link:active {
  color: #fff;
}
