.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #3b413d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 290px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding: 10px 48px 10px 16px;
  width: 100%;
}

.info:hover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #a8ff53;
  z-index: 1;
  animation: round 10s linear infinite;
}

@keyframes round {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }
  25% {
    clip-path: inset(0% 0% 100% 0%);
  }
  50% {
    clip-path: inset(0% 0% 0% 100%);
  }
  75% {
    clip-path: inset(100% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 100% 0% 0%);
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #a8ff53;
  border: none;
  width: 90px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 4px 12px rgba(168, 255, 83, 0.4);
  transform: scale(1.1);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 12px rgba(168, 255, 83, 0.4);
}
