.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-weight: 500;
  line-height: 1.2;
  color: #a8ff53;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #3b413d;
  border-radius: 4px;
  padding: 17px 22px;
  background: #272730;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  margin-bottom: 6px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input:hover {
  border-color: #659932;
  box-shadow: 0 0 8px rgb(168, 255, 83, 0.5);
}

.input:focus {
  outline: none;
  border-color: #659932;
}

input::spelling-error {
  color: #fff;
  text-decoration: underline wavy red;
}

input::grammar-error {
  color: #fff;
  text-decoration: underline wavy green;
}

.error {
  color: #ff0000;
  margin-left: auto;
  font-size: 12px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 16px 20px;
  background: #a8ff53;
  border: none;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #1f1f24;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 4px 12px rgba(168, 255, 83, 0.4);
  transform: scale(1.1);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 12px rgba(168, 255, 83, 0.4);
}

.accordion {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 0 32px 0 !important;
}

.accordionSummary {
  padding: 0 !important;
  margin: 0 !important;
  color: #fff !important;
}

.accordionText {
  font-weight: 500;
  line-height: 1.2;
  color: #a8ff53;
}

.accordionDetails {
  width: 100% !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .error {
    font-size: 14px;
  }
  .button {
    padding: 18px 22px;
  }
}

@media screen and (min-width: 1366px) {
  .error {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  .error {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .error {
    font-size: 20px;
  }
}
