.wrapper {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover {
  color: #fff;
}

.activeLink {
  text-decoration: underline;
  color: #fff;
}
