.wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
}
.button {
  background-color: #a8ff53;
  color: darkblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60px;
  height: 30px;
}
.button:hover {
  box-shadow: 0 4px 12px rgba(168, 255, 83, 0.4);
  transform: scale(1.1);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 12px rgba(168, 255, 83, 0.4);
}
